{% with
    title="Donate",
    description="<3",
    image="euro.jpg"
%}
    {% include "components/top.html" %}
{% endwith %}

<h2>Donate</h2>

<iframe src="https://invidious.nerdvpn.de/embed/Nbe_rtee1wI" height="225"></iframe>

<h3>Important - read this before donating!</h3>
<div class="text-box">
    <p>I do not rely on donations to live. I have the privilege to reside in a rich country, to have a well paid job as well as to have no financial difficulties whatsoever.</p>
</div>

<h2>Crypto Currencies</h2>
<h3>Monero (XMR)</h3>
<p><pre>83bE7e629jFgK17LXM3bjvZUu16WZ5XuG7eq5aKRJDm94vt2pais1knTkXdPjiaAWrLiEPyp21ZQ9Cq7BmgPcuQi3QYKf5o</pre></p>
<img src="/images/xmr.png" alt="Monero Donation QR Code" width="400px">

{% include "components/end.html" %}