
<meta charset="utf-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="msapplication-TileColor" content="#41234a">
<meta name="msapplication-TileImage" content="https://www.onlix.me/favicons/150.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#41234a">
<meta name="apple-mobile-web-app-title" content="{{ title }} · ONLIX">
<meta name="application-name" content="{{ title }} · ONLIX">

<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#41234a">
<meta name="robots" content="index, follow">
<meta name="author" content="ONLIX">
<meta name="description" content="{{ description }}">

<meta property="og:description" content="{{ description }}">
<meta property="og:image" content="https://www.onlix.me/images/{{ image or 'wave.jpg' }}">
<meta property="og:locale" content="en">
<meta property="og:site_name" content="onlix.me">
<meta property="og:title" content="{{ title }} · ONLIX">
<meta property="og:type" content="website">
<meta property="og:url" content="/">

<meta property="article:author" content="ONLIX">
<meta property="article:section" content="website">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="https://www.onlix.me">
<meta name="twitter:url" content="/">
<meta name="twitter:site" content="/">
<meta name="twitter:creator" content="by ONLIX">
<meta name="twitter:title" content="{{ title }} · ONLIX">
<meta name="twitter:description" content="{{ description }}">
<meta name="twitter:image:src" content="https://www.onlix.me/images/{{ image or 'wave.jpg' }}">

<link rel="canonical" href="/">
<link rel="apple-touch-icon" href="/favicons/favicon.ico" sizes="180x180">
<link rel="icon" href="/favicons/favicon.ico" sizes="32x32">
<link rel="icon" href="/favicons/favicon.ico" sizes="16x16">
<link rel="image_src" href="/favicons/favicon.ico">
