<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>{{ title }} · ONLIX</title>

    {% for css in 'lila-v2 _helpers blog nav utils formatting ui'.split() %}
    <link href="/styles/{{ css }}.css" rel="stylesheet">
    {% endfor %}    

    <link href="/cdn/bi.css" rel="stylesheet">

    {% include 'components/seo.html' %}
</head>
{% if not lite %}
    {% if dark_image %}
    <body class="dark">
    {% else %}
    <body class="">
        {% endif %}
            <header class="with-nav">
                <!-- <img src="https://www.onlix.me/images/{{ image or '' }}" alt="Header image"> -->
                <nav class="floating" id="navbar" style="transition: top 0.3s">
                    <span>&nbsp;onlix.me</span>

                    <a href="/" class="{{ 'current' if title == 'Home' }}">
                        <i class="bi bi-house"></i> Home</a>                    
                    <a href="/blog" class="{{ 'current' if title == 'Blog Overview' or '· Blog' in title }}">
                        <i class="bi bi-newspaper"></i> Blog</a>
                    <a href="/contact" class="{{ 'current' if title == 'Contact' }}"><i class="bi bi-envelope">
                    </i> Contact</a>
                    <a class="dropdown-button" href="https://github.com/nsde?tab=repositories" target="_blank">
                        <i class="bi bi-journal-code"></i> Projects <i class="bi bi-box-arrow-up-right small" style="opacity: 0.5;"></i></a>
                </nav>

            {% if not no_header %}
            <h1>{{ title }}</h1>
            <p>{{ description }}</p>
            {% endif %}
        </header>

        <main id="main">
{% endif %}
